*.pyc
pp/*
example/*
doc/Slides_JMA2013-4_Final.pdf
cosmo_phys/*
*batch_run.sh
*batch_submit.sh
*build
*executables
*test
sync_to_*
*~
*.aux
*.bbl
*.blg
*.lof
*.out
*.thm
*.toc
*.lot
*.tex.backup
*.kilepr
Thesis.*
csthesis.*
doc/src/declarationOfOriginality.pdf
doc/src/HFDocumentation.pdf