*.sublime-workspace
*.pyc
pp/*
pp_old/*
example/*
doc/Slides_JMA2013-4_Final.pdf
cosmo_phys/*
*batch_run.sh
*batch_submit.sh
*build
*executables
*test
*build_log.txt
sync_to_*
*~
*.aux
*.bbl
*.blg
*.lof
*.out
*.thm
*.toc
*.lot
*.tex.backup
*.kilepr
*.cprof
Thesis.*
csthesis.*
doc/src/declarationOfOriginality.pdf
doc/src/HFDocumentation.pdf
examples/poisson2d_fem_iterative/input.dat
examples/particle/test/*